<h1>Edit Project:</h1>

<%= render partial: 'form', locals: {project: @project} %>

  <div>
    <%= link_to "Delete", project_path(@project), method: "DELETE", data: {confirm: 'Are you sure?'} %>
  </div>