<h1>The last 10 projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.title, project_path(project) %> - Updated at: <%= project.updated_at.strftime('%H:%M:%S') %></li>
  <% end %>
</ul>

<%= link_to "New Project", new_project_path %>