<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <a class="navbar-brand navbar-left" href="#">
        <img alt="Brand" src="http://blog.songkick.com/wp-content/uploads/2012/06/songkick_tourbox_logo.png">
      </a>
      <p class="user-sign navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">User 1</a></p>
  </div>
</nav>