<ul class="nav nav-pills">
  <li role="presentation">
    <%= link_to "All concerts", concerts_path %>
  </li>
  <li role="presentation">
    <%= link_to "Concerts today", concerts_today_path %>
  </li>
  <li role="presentation">
    <%= link_to "Concerts this month", concerts_month_path %>
  </li> 
  <li role="presentation">
    <%= link_to "Concerts under 10€", concerts_budget_path %>
  </li>
</ul>