<% if @twenty_results.present? %>
  <% @twenty_results.each do |item| %>
    <p>
      <form action="/movies/<%= item %>" method="post">
        <img src=<%= item.poster %> alt="" height="200px">
        <br>
        <input type="hidden" name="item" value="<%= item %>">
        <input type="submit" value="<%= item.title %>">
      </form>
    </p>
  <% end %>
<% end %>